@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    /*Google Code: Poppins Font Styles */
    .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    }


    /* Common Styles */
       :root{
        --main-color-grey: #3A3A3A;
        --button-color: #E02C6D;
       }
        /* Flex in a row and position centerd */
        .flex-row-center{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
    
        }


        /* Width of Section */
        header{
            max-width: 1280px;
            margin: 0 auto;
            /* display: flex; */
            align-items: center;
            /* justify-content: center; */
        }
        main, footer{
            max-width: 1050px;
            margin: 0 auto;
            align-items: center;
            
        }

        .btn-primary{
            background-color: var(--button-color);
            padding: 10px 24px;
            border: none;
            border-radius: 41px;
            color: white;
            font-size: 1.5rem;
            font-weight: bolder;
        }

    /* NAV Styles */
    #web-logo{
        font-size: 2rem;
        font-weight: 700;
        background: #121FCF;
        background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul{
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--main-color-grey);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    nav a{
        text-decoration: none;
        color: var(--main-color-grey);
    }
   
/* Banner Section */
.banner{
    gap: 8rem;
}

.banner-right{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.banner-left h3{
    color: var(--main-color-grey);
    font-size: 3.75rem;
    font-weight: 800;
}
.banner-left p{
    color: var(--main-color-grey);
    font-size: 1rem;

}

/* Main Section Start */
    #popular-collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #121FCF;
        background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* All company logo */
    .all-company-logo{
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;
        margin-bottom: 5rem;
    }

    /* Card Styles */
    .single-card{
        max-width: 20.5rem;
        max-height: 30rem;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);
    }
    .single-card img{
        width: 100%;
    }
     .single-card h4{
        font-size: 1.75rem;
        font-weight: 500;
        color: var(--main-color-grey);
        margin: 5px auto;
     }
     .single-card h5{
        font-size: 1.25rem;
        font-weight: 500;
        color: #000000DE;
        margin: 5px auto;
     }
     .ratings{
        color: #e5a400;
     }
     .single-card p{
        font-size: 1rem;
        color: #787885;
        margin: 5px auto;
    }
   

    /* Responsive Card Section  */
    .card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    #see-more{
        position: relative;
        right: 0px;
        top: 0px;
        left: 60rem;
        margin-top: 0px;
       
    }
    #see-more a{
        text-decoration: none;
        color: var(--button-color);
    }
    /* Featured Section */
    .featured{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        margin-bottom: 5rem;
    }
    .featured-right{
        display: flex;
        align-items:flex-start
        justify-content: center;
        flex-direction: column;
        
    }
    .featured-right button{
        max-width: 12rem;
   
    }
    .featured h3{
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0px;
    }
    .featured p{
        font-size: 1rem;
        color: var(--main-color-grey);
    }

    /* Fotter Styles */
    footer{
        background-color: RGB(25, 25, 26);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer h4{
        font-size: 2rem;
        margin: 4rem auto 1rem auto;
    }
    footer p{
        margin: 0;
    }
    .social-link{
        margin: 20px;
        font-size: 2.5rem;
        display: flex;
        gap: 40px;
    }